.idea/
project/db-data

# Builds
authentication-service/authApp
broker-service/brokerApp
front-end/frontApp
front-end/frontEndApp
logger-service/loggerServiceApp
mail-service/mailerApp
listener-service/listenerApp